img.is-centered {
    display: block;
    margin: 0 auto;
}

html {
    /*scroll-snap-type: y mandatory;*/
    /*overflow-y:hidden;*/
}

section, .section {
    /*min-height: 100vh;*/
    /*scroll-snap-align: start;*/
}

#gantt {
    display: none;
}

@media screen and (min-width: 1088px) {
    #gantt {

        display: block;
    }

    /*pointer-events: none;*/
}
